<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <connectionStrings>
    <add name="CS" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Naturelle\Desktop\IUC\PAM2\MULTICOUCHE\ProjetHygiene\DAL\Proprete.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ProjetHygiene.Properties.Settings.PropreteConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;G:\PAM2\Support de cours\PDF\C#\ProjetHygiene\DAL\Proprete.mdf&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
